body{
    /* background-image: url(./assets/destination/background-destination-desktop.jpg); */

    background: url(./assets/destination/background-destination-desktop.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Bellefair', serif;
    margin:0;

    color: white;
}   

nav{
    display: flex;
    /* margin: 4.4% 0 0 0;
    height: 96px; */

    margin: 7vh 0 0 0;
    height: 13vh;
}
nav div.logo{
    flex:1 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav div.linksBlur{
    flex:6 0 0;    

    text-transform: uppercase;

    /* Blur: */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgb(151 151 151 / 15%);
    
    display:flex;
    justify-content: space-around;
    align-items: center;

    padding-right: 5%;
    padding-left: 2%;
}
.linksBlur span.bold{
    font-weight: 600;
    letter-spacing: 3px;
}
.linkElement{
    height: 100%;
    min-height: -moz-available; /* WebKit-based browsers will ignore this. */
    min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    min-height: fill-available;
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;

    letter-spacing: 1px;

    font-size: 1rem;
}
.linkElement:hover{
    /* border-bottom: 3px solid grey; */

    box-shadow: inset 0px -4px 0 #979797;
}
.linkElement.elementCurrent{
    /* border-bottom: 3px solid white; */
    box-shadow: inset 0px -4px 0 white;
}

nav div.lineaHorizontal{
    flex:4 0 0 ;
    display: flex;
    align-items: center;
}
.lineaHorizontal div.linea{
    background-color:rgb(151 151 151 / 50%);
    height: 1px;
    width: 100%;
    position: relative;
    left: 6%;
    z-index: 1;
}

main{
    display: flex;
    /* align-items: end; */
    /* height: 65vh;
    margin-bottom: 15vh; */
    height: 80vh;
}

main .left{
    flex: 1 0 0;
    display: flex;
    flex-direction:column ;
}

main .left .text{
    flex: 2.2 0 0;
    display: flex;
    align-items: center;
    margin-left: 9vw;
    font-size: 24px;
}
main .left .image{
    flex: 10 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
main .left .image img{
    max-width: 55%;
    
    border-radius: 50%;
}
main .left .image img.moon{
    box-shadow: 0 0 70px 30px rgb(184 187 195 / 3%);
}
main .left .image img.mars{
    box-shadow: 0 0 70px 30px rgb(172 132 96 / 3%);
}
main .left .image img.europa{
    box-shadow: 0 0 70px 30px rgb(166 163 137 / 3%);
}
main .left .image img.titan{
    box-shadow: 0 0 70px 30px rgb(205 170 102 / 3%);
}

main .left .text .number{
    color: rgb(255 255 255 / 25%);
    letter-spacing: 3px;
    font-weight: 600;
}
main .left .text .action{
    color: rgb(255 255 255 / 100%);
    text-transform: uppercase;
    margin-left: 15px;
    letter-spacing: 1px;
}

main .right{
    flex: 1 0 0;
    display: flex;
    /* flex-direction: column;*/
    /* justify-content: center;  */
}
main .right .destionationNav{
    flex: 0 0 45px;
}
main .right .destionationDescription{
    flex: 5.1 0 0;
}
main .right .destionationStats{
    flex: 1.5 0 0;

    display: flex;
    align-items: center;

    margin-bottom: 15px;
    max-width: 76%;
    border-top: 1px solid rgb(255 255 255 / 30%);
}

main .right .container{
    display: flex;    
    flex-direction:column;
    flex: 1 0 0;
    padding-right: 9vw;
}
.destinationContent{
    flex:1 0 0;
    display: flex;
    flex-direction: column;
}
main .right .container .empty{
    flex: 2.2 0 0;
}
main .right .container .destinationContent{
    flex: 10 0 0;
}
.destionationNav{
    display: flex;
}
.destNavOption{
    flex: 0 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(255 255 255 / 70%);
    transition: all 0.2s;
    text-decoration: none;
}

.destNavOption.selected{
    /* border-bottom: 3px solid white;*/
    color: rgb(255 255 255 / 100%); 
    box-shadow: inset 0px -3px 0 white !important;
}
.destNavOption:hover{
    /* border-bottom: 3px solid white;*/
    /* color: rgb(255 255 255 / 100%);  */
    box-shadow: inset 0px -3px 0 #979797;
}


.destinationName{
    font-size: 109px;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 15px;
}
.destinationText{
    color: rgb(255 255 255 / 70%);
    font-size: 19px;
    line-height: 30px;
    max-width: 76%;
}

.statContainer{
    flex: 1 0 0;
    text-transform: uppercase;
    /* display: flex; */
}
.statName{
    font-size: 13px;
    color: rgb(255 255 255 / 70%);
    margin-bottom: 6px;
}
.statValue{
    font-size: 24px;
    color: rgb(255 255 255 / 100%);
}

@media (max-width: 1050px) {
    nav{
        margin: 0;
    }
    nav .linkElement{
        font-size: 0.81rem;
    }
    a.linkElement span.bold{
        display: none;
    }
    main{
        flex-direction: column;        
    }
    main .left .image img {
        max-width: 30%;
        margin: 2% 0;
    }
    main .right .container {
        padding: 0;    
    }
    .destionationNav{
        justify-content: center;    
    }
    main .right .destionationDescription{
        text-align: center;
    }
    .destinationText{
        margin: 0 auto;
    }
    .destinationContent{
        align-items: center;
    }
    main .right .destionationStats{
        width: 70%;
    }
    .statContainer{
        text-align: center;
    }
    main .left .text {
        margin-top: 3%;
    }
    .destinationName{
        margin: 3% 0 2% 0;
        font-size: 100px;
    }
    .destinationText{
        margin-bottom: 2%;
    }
    .statContainer{
        margin-top: 6%;
    }
}

.hamburger{
    display: none;    
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.hamContent{
    display: block;
    cursor: pointer;
}
.hamburger .line{
    width: 35px;
    height: 4px;
    background: #D0D6F9;
    margin: 8px 0;
}
.hamMenu{
    position: fixed;
    width: 65vw;
    height: 100vh;
    top: 0;
    right: 0;

    display: none;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgb(151 151 151 / 15%);    
}
#threeLinesHam.open + .hamMenu{
    display: block;
}
.hamMenuContainer{
    display: flex;
    flex-direction: column;
}
.hamMenuCross{
    flex: 0 0 13vh;    
    padding-right: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.hamMenuLinks{
    flex:1 0 0;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}
.hamMenuLink{
    padding: 5% 0;
}
.hamMenuLink span.bold{
    font-weight: 600;
    letter-spacing: 3px;
}
.hamMenuLink .text{
    text-transform: uppercase;
    color: #e1e1e1;
}
.hamMenuLink span{
    padding-bottom: 2px;
}
.hamMenuLink.selected span{
    color: white !important;
    border-bottom: 2px solid white;
}
.hamMenuLink a{
    text-decoration: none;
    transition: all 0.2s;
}
.hamMenuLink a:visited span.bold{
    color: white;
}
.hamMenuLink a:hover{
    border-bottom: 2px solid #979797;    
}
.hamMenuLink a:hover span{
    color: white !important;
}
.crossContainer{
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 650px) {
    nav .lineaHorizontal{
        display: none !important;
    }
    nav .linksBlur{
        display: none !important;
    }
    nav .hamburger{
        display: flex !important;
        flex: 1 0 0;        
        margin-right: 10%;        
    }
    nav .logo{
        justify-content: start !important;
        margin-left: 10% !important;
    }
    .text .content .p3 {
        max-width: 85% !important;
    }
}